/* Variables */
:root {
 --backCol: #351e4b;
 --textCol: #e9e9e9;
 --secondary: #a826e4;
}

/* Global Styling */
* {
 margin: 0;
 box-sizing: border-box;
 font-family: "Radio Canada Big", sans-serif;
}

/* Base Styling */
body {
 background-color: var(--backCol);
 color: var(--textCol);
 padding-bottom: 5vh;
}

/* Title Styling */
header {
 margin-top: 20vh;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.title {
 text-align: center;
}

#main_title {
 font-size: 3rem;
 text-align: center;
}

#main_sub {
 margin-top: 2vh;
 width: 70vw;
 max-width: 300px;
 text-align: center;
}

/* Search Styling */
.search_bar {
 background-color: var(--textCol);
 margin-top: 3.5vh;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 height: 5vh;
 width: 55vw;
 max-height: 35px;
 max-width: 300px;
 border-radius: 5vw;
 padding: 0 3vw;
}

#search_bar {
 background: transparent;
 border-style: none;
 outline: none;
 width: 50vw;
 color: var(--backCol);
 font-weight: 700;
 font-size: 0.78rem;
}

#search_bar::placeholder {
 color: #474747;
 font-size: 0.78rem;
}

/* Trivia Styling */
.menu {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.errorPrompt {
 text-align: center;
 font-size: 0.9rem;
 font-weight: 400;
 min-width: 100px;
 width: 50vw;
 padding-top: 3vh;
}

.categories {
 margin-top: 1.5vh;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.trivia {
 color: var(--textCol);
 text-decoration: none;
 background-color: var(--secondary);
 border-radius: 1.5vw;
 margin-top: 4vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 7vh;
 width: 70vw;
 max-width: 350px;
 font-weight: 700;
}

/* Trivia Page Styling */
/* Menu Styling */
.game-menu {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2.5vh;
}

/* Difficulty Options Styling */
.game-options {
 display: flex;
 flex-direction: column;
 margin-top: 5vh;
 position: absolute;
}

.btn-container {
 margin-left: 1.5vw;
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.diff-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.diff-title {
 font-size: 1.2rem;
 margin-bottom: 1vh;
 text-align: center;
} 

.diff-btn {
 color: var(--textCol);
 font-size: 1.2rem;
 font-weight: 700;
 text-align: center;
 border-style: none;
 width: 35vw;
 max-width: 200px;
 min-width: 95px;
 padding-top: 1vh;
 padding-bottom: 1vh;
 background: transparent;
 transition: ease 0.2s;
}

.diff-btn:hover {
  color: #7c18ff;
  background: default;
  background-color: var(--textCol);
}

.diff-btn:active {
  color: #7c18ff;
  background: default;
  background-color: var(--textCol);
}

.btns {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.first-diff {
 margin-top: 2vh;
 border-bottom-style: solid;
 border-color: var(--textCol);
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-size: 1.2rem;
 font-weight: 700;
 width: 25vw;
 max-width: 100px;
 min-width: 95px;
}

.first-diff p {
  text-align: center;
}

.drop-down {
 /* display: none; */
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 1.5vh;
 background-color: #7c18ff;
 border-radius: 2vw;
 border-style: none;
 width: 35vw;
 height: 0;
 overflow: hidden;
 max-width: 200px;
 transition: height 0.2s;
}

.show_drop_down {
  height: 12.9vh;
  min-height: 100px;
  transition: height 0.2s;
}

.nav-menu {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 80vw;
 margin-top: 290px;
}

.start-btn {
  width: 8vh;
  height: 5vh;
  min-width: 70px;
  min-height: 39px;
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--textCol);
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 1.1vh;
  border-color: var(--textCol);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.stats_btn {
 width: 8vh;
 height: 5vh;
 min-width: 70px;
 min-height: 39px;
 background-color: var(--secondary);
 text-decoration: none;
 color: var(--textCol);
 font-size: 1.2rem;
 border-radius: 1.1vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-right: 5vw;
}

.back {
 width: 8vh;
 min-width: 70px;
 height: 5vh;
 min-height: 39px;
 background-color: var(--secondary);
 text-decoration: none;
 color: var(--textCol);
 font-size: 1.2rem;
 border-radius: 1.1vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

/* Proper Game Display */
.gameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prepDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
}

.prepDisplay h3 {
  font-size: 5rem;
  text-align: center;
}

.gameDisplay {
  margin-top: 30vh;
  padding: 0 3.2vw;
}

.gameDisplay h3 {
  text-align: center;
  font-size: 1.5rem;
}

.timer {
  width: 45vw;
  height: 1vh;
  background-color: white;
  margin-top: 2vh;
}

.choice {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
}

.wrongAnswerBtn, .rightAnswerBtn {
  margin-right: 2vw;
  margin-top: 1vh;
  width: 85vw;
  min-width: 150px;
  max-width: 500px;
  /* height: 5vh; */
  min-height: 50px;
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--textCol);
  font-size: 1.2rem;
  border-radius: 1.1vh;
  border-style: solid;
  border-color: var(--textCol);
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.wrongAnswerBtn:active,
.rightAnswerBtn:active {
  background-color: var(--textCol);
  color: var(--secondary);
}

.displayCorrect {
  margin-top: 30vh;
  font-size: 2rem;
}

.additionalInfo {
  text-align: center;
  margin-top: 3vh;
  font-size: 1.5rem;
  font-weight: 700;
  width: 80vw;
}

/* Ending Screen Styles */
.endingTitle {
  font-size: 2rem;
  margin-top: 30vh;
}

.endScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30vh;
}

.endScreenPlayBtn {
  width: 30vw;
  height: 5vh;
  min-width: 120px;
  min-height: 39px;
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--textCol);
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 1.1vh;
  border-color: var(--textCol);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.endScreenMenuBtn {
  width: 8vh;
  min-width: 70px;
  height: 5vh;
  min-height: 39px;
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--textCol);
  font-size: 1.2rem;
  border-radius: 1.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Display Score Styling */
.highscoreTitle {
  text-align: center;
}

.scoreSection {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1vh;
}

.scoreBack {
  margin-top: 30vh;
}

